PRODUCT_NAME = bookmarknot
PRODUCT_DISPLAY_NAME = Bookmarknot
PRODUCT_BUNDLE_IDENTIFIER = dev.bookmarknot.bookmarknot
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

MACOSX_DEPLOYMENT_TARGET = 26.0
GENERATE_INFOPLIST_FILE = YES

CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_IDENTITY =
